@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@600&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 40px 20px;
  box-sizing: border-box;
  position: relative;
}

.heading {
  text-align: center;
  margin-bottom: 60px;
  color: #ffffff;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.tab-btn {
  padding: 10px 20px;
  background-color: #007DFA;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  margin: 0 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.tab-btn:not(.active) {
  background-color: #5A5A5D;
}

.tab-btn.active {
  background-color: #007DFA;
  color: #ffffff;
}

.form {
  display: none;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto;
  max-width: 100%;
}

.form.active {
  display: block;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007DFA;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005bc3;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #007DFA;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.dots-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  background-repeat: repeat;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .heading {
    margin-bottom: 30px;
    font-size: 24px;
  }
}
